/Capteurs/Capteur_LM75/build/
/SSTV/Programme/test/dist/
/SSTV/Programme/test/build/
/SSTV/Programme/Ballon_data/build/
/SSTV/Programme/Ballon_data/dist/
/Telemetrie/telemetrie_aprs/build/
/Telemetrie/telemetrie_aprs/dist/
